<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Task Manager</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <main class="main home">
        <div class="container">
            <div class="box">
                <h1>Welcome to Your Task Manager</h1>
                <p>Stay organized and keep track of your tasks efficiently.</p>
                <a href="tasks.html">Go To Tasks</a>
            </div>
        </div>
    </main>

</body>

</html>