<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <main class="main tasks">
        <div class="container">
            <!-- Add Task Form -->
            <h2>Add Task</h2>
            <form method="POST" action="/api/tasks">
                <input type="text" name="title" placeholder="Title*" required>
                <input type="text" name="description" placeholder="Description">
                <select name="status">
                    <option value="todo">To Do</option>
                    <option value="in_progress">In Progress</option>
                    <option value="done">Done</option>
                </select>
                <input type="date" name="due_date">
                <button type="submit">Add</button>
            </form>

            <!-- Task List Title -->
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h2>Tasks List</h2>

                <!-- Filters -->
                <div class="task-filters">
                    <!-- Status filter -->
                    <select name="status">
                        <option value="">Status</option>
                        <option value="todo">To Do</option>
                        <option value="in_progress">In Progress</option>
                        <option value="done">Done</option>
                    </select>

                    <!-- Search -->
                    <input type="search" name="q" placeholder="Search title or description">

                    <!-- Sort -->
                    <select name="sort">
                        <option value="">Sort By</option>
                        <option value="due_date">Due Date</option>
                        <option value="created_at">Created At</option>
                    </select>
                </div>
            </div>

            <!-- Tasks list Table-->
            <table>
                <!-- Table heading -->
                <thead>
                    <tr>
                        <th>SL/NO</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                    {% for task in tasks%}
                    <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.status.replace('_', ' ') | title}}</td>
                        <td>{{task.created_at}}</td>
                        <td>{{task.due_date}}</td>
                        <td class="action-buttons">
                            <button class="mark-btn">Mark Done</button>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>