<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <main class="main tasks">
        <div class="container">
            <!-- Add Task Form -->
            <h2>Add Task</h2>
            <form method="POST" action="/api/tasks">
                <input type="text" name="title" placeholder="Title*" required>
                <input type="text" name="description" placeholder="Description">
                <select name="status">
                    <option value="todo">To Do</option>
                    <option value="in_progress">In Progress</option>
                    <option value="done">Done</option>
                </select>
                <input type="date" name="due_date">
                <button type="submit">Add</button>
            </form>

            <!-- Task List Title -->
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h2>Tasks List</h2>

                <!-- Filters -->
                <div class="task-filters">
                    <!-- Status filter -->
                    <select name="status">
                        <option value="">Status</option>
                        <option value="todo">To Do</option>
                        <option value="in_progress">In Progress</option>
                        <option value="done">Done</option>
                    </select>

                    <!-- Search -->
                    <input type="search" name="q" placeholder="Search title or description">

                    <!-- Sort -->
                    <select name="sort">
                        <option value="">Sort By</option>
                        <option value="due_date">Due Date</option>
                        <option value="created_at">Created At</option>
                    </select>
                </div>
            </div>

            <!-- Tasks list Table-->
            <table>
                <!-- Table heading -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                    {% for task in tasks%}
                    <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.description}}</td>
                        <td data-id="{{task.id}}">{{task.status.replace('_', ' ')}}</td>
                        <td>{{task.created_at}}</td>
                        <td>{{task.due_date}}</td>
                        <td class="action-buttons">
                            <button class="mark-btn" data-id="{{ task.id }}">Toggle</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>


    <script>
        document.querySelectorAll(".mark-btn").forEach(btn => {
            btn.addEventListener("click", async () => {
                const taskId = btn.dataset.id;

                try {
                    const res = await fetch(`/api/tasks/${taskId}/toggle`, { method: "POST" });

                    if (!res.ok) throw new Error("Network response was not ok");

                    const data = await res.json();
                    const row = btn.closest("tr");
                    const statusCell = row.querySelector(`td[data-id='${taskId}']`);
                    statusCell.textContent = data.status.replace('_', ' ');

                } catch (err) {
                    console.error(err);
                    alert("Failed to update status");
                }
            });
        });
    </script>



</body>

</html>